# 기말고사 예상문제 (ver 0.1)
> 

- toc:true
- branch: master
- badges: true
- comments: false
- author: 최서연

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import json
import requests

## `#1`. COVID19 시도별 접종률 시각화

아래의 그림은 COVID19 예방접종의 시도별 현황을 캡쳐한 것이다. 

![](https://github.com/guebin/2021DV/blob/master/_notebooks/final_FIG1.png?raw=true "그림1: COVID19 예방접종의 시도별 현황")

이 정보는 특정 주기로 업데이트 되며 아래의 웹페이지 2번째 테이블에서 확인할 수 있다. 
```
https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000
```
판다스의 `pd.read_html()` 함수를 이용해 위의 페이지에서 그림1의 테이블을 읽어오라. 그리고 folium의 choroplethmap을 활용하여 시도별 2차접종의 접종률을 시각화 하라. 시각화 예시는 그림2와 같다.

![](https://github.com/guebin/2021DV/blob/master/_notebooks/final_FIG2.png?raw=true "그림2: 문제1의 답안예시")

---

**힌트1.** pd.read_html()을 이용할때 `encoding='utf-8'`옵션을 사용하라. 

**힌트2.** `https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000`의 2번째 테이블을 판다스로 읽어온 결과는 아래와 같아야 한다.

In [2]:
df=pd.read_html('https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000',encoding='utf-8')[1]
df

    구분   1차접종             2차접종           3차(부스터)접종
    구분  당일 실적     당일 누계  당일 실적     당일 누계     당일 실적    당일 누계
0   합계  33213  42653944  89269  41284671    276997  3852154
1   서울   6418   7940840  14436   7713303     56517   707480
2   부산   2051   2726236   5221   2636872     18930   228368
3   대구   1475   1897268   3888   1834006     11380   142130
4   인천   2003   2433177   5220   2352331     13520   197197
5   광주    968   1191290   3087   1146427      7702   115764
6   대전    956   1174705   2394   1135182      7314   100144
7   울산    588    909397   1763    881739      4245    63273
8   세종    242    272614    504    262391      1493    23646
9   경기   9350  11164316  25158  10814771     64392   942731
10  강원    871   1280486   2557   1239767      9204   127833
11  충북    828   1353202   2788   1310105      8890   134138
12  충남   1298   1791384   3799   1729378     12803   183678
13  전북   1019   1515819   3780   1463908     11589   172116
14  전남    921   1576666   3166   1523884     13834   213856
15  경북   1567   2161635   4478   2089812     14310   208500
16  경남   2067   2714710   5578   2620169     17907   244652
17  제주    591    550199   1452    530626      2967    46648

In [14]:
df.iloc[1:,:].columns

MultiIndex([(       '구분',    '구분'),
            (     '1차접종', '당일 실적'),
            (     '1차접종', '당일 누계'),
            (     '2차접종', '당일 실적'),
            (     '2차접종', '당일 누계'),
            ('3차(부스터)접종', '당일 실적'),
            ('3차(부스터)접종', '당일 누계')],
           )

In [39]:
df.iloc[1:,:].set_index((       '구분',    '구분')).stack().reset_index().\
query('level_1=="당일 누계"').set_index((       '구분',    '구분')).iloc[:,2]

(구분, 구분)
서울     7713303
부산     2636872
대구     1834006
인천     2352331
광주     1146427
대전     1135182
울산      881739
세종      262391
경기    10814771
강원     1239767
충북     1310105
충남     1729378
전북     1463908
전남     1523884
경북     2089812
경남     2620169
제주      530626
Name: 2차접종, dtype: int64

In [40]:
df.iloc[1:,:].set_index((       '구분',    '구분')).stack().reset_index().\
query('level_1=="당일 실적"').set_index((       '구분',    '구분')).iloc[:,2]

(구분, 구분)
서울    14436
부산     5221
대구     3888
인천     5220
광주     3087
대전     2394
울산     1763
세종      504
경기    25158
강원     2557
충북     2788
충남     3799
전북     3780
전남     3166
경북     4478
경남     5578
제주     1452
Name: 2차접종, dtype: int64

In [55]:
df.iloc[1:].set_index((       '구분',    '구분')).stack().reset_index().iloc[:,[0,1,3]]

   (구분, 구분) level_1      2차접종
0        서울   당일 누계   7713303
1        서울   당일 실적     14436
2        부산   당일 누계   2636872
3        부산   당일 실적      5221
4        대구   당일 누계   1834006
5        대구   당일 실적      3888
6        인천   당일 누계   2352331
7        인천   당일 실적      5220
8        광주   당일 누계   1146427
9        광주   당일 실적      3087
10       대전   당일 누계   1135182
11       대전   당일 실적      2394
12       울산   당일 누계    881739
13       울산   당일 실적      1763
14       세종   당일 누계    262391
15       세종   당일 실적       504
16       경기   당일 누계  10814771
17       경기   당일 실적     25158
18       강원   당일 누계   1239767
19       강원   당일 실적      2557
20       충북   당일 누계   1310105
21       충북   당일 실적      2788
22       충남   당일 누계   1729378
23       충남   당일 실적      3799
24       전북   당일 누계   1463908
25       전북   당일 실적      3780
26       전남   당일 누계   1523884
27       전남   당일 실적      3166
28       경북   당일 누계   2089812
29       경북   당일 실적      4478
30       경남   당일 누계   2620169
31       경남   당일 실적      5578
32       제주   당일 누계    530626
33       제주   당일 실적      1452

In [56]:
_df=_

In [57]:
_df.columns=['city','value','vaccination']

In [84]:
[(_df.query('value=="당일 실적"')['vaccination'].iloc[i]/_df.query('value=="당일 누계"')['vaccination'].iloc[i]) for i in range(17)]

[0.001871571750779141,
 0.001979997512203854,
 0.002119949444004,
 0.002219075461744117,
 0.0026927139713213313,
 0.002108912932023235,
 0.001999457889466157,
 0.001920797588331917,
 0.002326262849208735,
 0.002062484321650762,
 0.0021280737040160905,
 0.002196743569075124,
 0.002582129478081956,
 0.0020775859579863034,
 0.002142776479415373,
 0.0021288703133271174,
 0.0027363906027974504]

In [79]:
(_df.query('value=="당일 실적"')['vaccination'].iloc[0]/_df.query('value=="당일 누계"')['vaccination'].iloc[0])

0.001871571750779141

In [80]:
14436/7713303

0.001871571750779141

In [81]:
(_df.query('value=="당일 실적"')['vaccination'].iloc[1]/_df.query('value=="당일 누계"')['vaccination'].iloc[1])

0.001979997512203854

In [82]:
5221/2636872

0.001979997512203854

In [25]:
global_dict = json.loads(requests.get('https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2018/json/skorea-provinces-2018-geo.json').text)

In [ ]:
m = folium.Map([34,27],zoomstart=7,scrollWheelZoom=False)
choro = folium.Choropleth(
    data=df, 
    geo_data=global_dict,
    columns=['구분','value'],
    key_on = 'feature.properties.name'
)
choro.add_to(m)

**힌트3.** 아래의 주소에서 json을 파일을 읽어온뒤 choroplethmap을 그릴때 이용하라. 
```
https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2018/json/skorea-provinces-2018-geo.json
```

**힌트4.** json파일의 지역명과 `https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000`의 지역이름을 맞추어라. json파일의 지역명은 아래와 같은 코드로 확인할 수 있다. 
```python
[global_dict['features'][i]['properties']['name'] for i in range(17)]
```
```
['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']
```

- 여기에서 `global_dict`는 json파일을 dict의 형태로 저장한 변수명이다.

**힌트5.** 지역별 접종률은 아래의 수식으로 구한다. 

$$
\textbf{서울특별시 2차접종 접종률}=\frac{\textbf{서울특별시 2차접종 당일누계}}{\textbf{서울특별시 인구수}}
$$

이때 위의 수식의 분모에 사용할 시도별 인구수는 아래의 주소에서 얻을 수 있다. 
```
https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-11-22-prov.csv
```

**힌트6.** 시도별 접종률의 결과는 아래와 같다.

In [ ]:
#hide_input
IPython.display.HTML('<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>prov</th>\n      <th>prop</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>서울특별시</td>\n      <td>0.807572</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>부산광역시</td>\n      <td>0.784046</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>대구광역시</td>\n      <td>0.765463</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>인천광역시</td>\n      <td>0.796909</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>광주광역시</td>\n      <td>0.792597</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>대전광역시</td>\n      <td>0.778911</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>울산광역시</td>\n      <td>0.783887</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>세종특별자치시</td>\n      <td>0.711043</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>경기도</td>\n      <td>0.796228</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>강원도</td>\n      <td>0.804555</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>충청북도</td>\n      <td>0.818569</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>충청남도</td>\n      <td>0.814271</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>전라북도</td>\n      <td>0.815779</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>전라남도</td>\n      <td>0.828873</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>경상북도</td>\n      <td>0.793502</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>경상남도</td>\n      <td>0.787922</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>제주특별자치도</td>\n      <td>0.782127</td>\n    </tr>\n  </tbody>\n</table>')